
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Scan Barcode dengan Aplikasi WhatsApp Anda</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item ">device</li>
              <li class="breadcrumb-item active">Connecting...</li>
              
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

      <section class="content">
        <div class="container-fluid">
           <div class="row">
          <!-- Left col -->
          <div class="col-md-6">
            <!-- MAP & BOX PANE -->
            <!-- TABLE: LATEST ORDERS -->
             <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Connect...</h3>
              </div>
              <div class="card-body">
               <div class="status-login" svn="{{{nama}}}">
                  <div class="col-sm-6 center">
                          <img class="img-fluid" src="./assets/{{{nama}}}.png" alt="Photo">
                  </div>
                <div class="col-sm-12">
                  <p>Status Akun : Aktif</p>
                </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          </div>
        </div>
      </section>